<div class="container">
  <div class="row d-flex justify-content-center">
  <!--Grid column-->
  <div class="col-md-7 text-center mt-5">

    <h1 class="">How Are You Feeling Project?</h1>
    <hr class="w-25">
    <h2 class="">Your personal book locked only for you to see!</h2>
    <a role="button" class="btn blue-gradient" href="https://github.com/Dream-cake/HowAreYouProject">Github <i class="fab fa-github fa-lg pl-1"></i></a>
    


  </div>
  <!--Grid column-->

</div>
</div>